# export hbiclust function
export(hbiclust, hbiclust.plot, forestogram)

# import some functions from other packages
importFrom(rgl, segments3d, open3d, rgl.clear, rgl.light, view3d, segments3d, shade3d, qmesh3d)